/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

question-content p:empty::before {
  content: "\00a0"; /* This is a Unicode non-breaking space */
  display: inline-block;
}

.question-content p {
  min-height: 1em;
}
